PORT=5001
MONGO_URI=mongodb+srv://madheshsbit27_db_user:LeafScan@cluster0.9p1y81g.mongodb.net/leafscan?retryWrites=true&w=majority
JWT_SECRET=secret123
JWT_EXPIRES_IN=7d
CLIENT_URL=https://leaf-scan-ai.netlify.app/
MODEL_API_URL=https:https://backend-rxpw.onrender.com/
